data/*

annotations_trainval2014.zip
annotations_trainval2017.zip
train2014.zip

src/data/output/*

src/train_log/*

src/ops/__pycache__/*

src/data/inception_v3.ckpt

glove.6b.zip

inception_v3*

src\.vscode

src\__pycache__

.vscode
